@media only screen and (max-width: 600px) {
  .contact-me-screentainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-me-maintainer {
    background-color: rgba(0, 255, 255, 0.421);
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(3, 8, 20, 0.1) 1rem 1rem 1rem,
    rgba(2, 8, 20, 0.1) 1rem 1rem 1rem;
    border-radius: 4px;
  }

  .contact-me-innertainer {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact-me-description {
    height: 30%;
    font-size: 0.5em;
  }

  .contact-me-form-container {
    width: 100%;
    height: 50%;
  }

  .contact-me-outro {
    height: 20%;
  }
}

@media only screen and (min-width: 600px) {
  .contact-me-screentainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-me-maintainer {
    background-color: rgba(0, 255, 255, 0.421);
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(3, 8, 20, 0.1) 1rem 1rem 1rem,
    rgba(2, 8, 20, 0.1) 1rem 1rem 1rem;
    border-radius: 4px;
  }

  .contact-me-innertainer {
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact-me-description {
    height: 30%;
    font-size: 0.5em;
  }

  .contact-me-form-container {
    width: 100%;
    height: 60%;
  }

  .contact-me-outro {
    height: 10%;
  }
}

.contact-me-fully-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-me-align-text-center {
  text-align: center;
}

.contact-me-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contact-me-input {
  width: 80%;
  line-height: 2rem;
}

.navigator-active-animation {
  transform: scale(1.5);
}