@media only screen and (max-width: 900px) {
  .screen-container {
    height: 100%;
    width: 100%;
    display: grid;
    gap: 0.25rem;
    justify-items: center;
    align-items: center;
  
    grid-template-areas: 
    "a"
    "b"   
    "c";
    
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 33%);
  }
}

@media only screen and (min-width: 900px) {
  .screen-container {
    height: 100%;
    width: 100%;
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  
    grid-template-areas: "a   b   c";
  
    grid-template-columns: repeat(3, 30%);
  }
}

.first-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(whitesmoke, rgb(188, 187, 187));
  box-shadow: rgba(3, 8, 20, 0.1) 1rem 1rem 1rem,
    rgba(2, 8, 20, 0.1) -1rem -1rem 1rem;
  height: 95%;
  width: 95%;
  border-radius: 4px;
}

.title-container-project {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: linear-gradient(whitesmoke, rgb(163, 163, 163));
  width: 100%;
  height: 30%;
}

.body-project {
  display: flex;
  background-color: rgb(227, 227, 227, 1);
  width: 100%;
  height: 70%;
  align-items: center;
  flex-direction: column;
}

.socials-project {
background-color: black;
width: 100%;
height: 10%;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}

.flex-devide {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.project-header {
  font-size: 2em;
  text-align: center;
}

.justify-image {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.profile {
  width: 4rem;
  height: 4rem;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 100px;
}

.mp-body-text {
  width: 95%;
  overflow: auto;
}