.full-size {
  width: 100%;
  height: 100%;
}

.transition {
  animation: animated-transition 1000ms;
  animation-fill-mode: forwards;
}

.title-container {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;

}

.title-card {
  height: 33%;
  background: linear-gradient(white, rgba(201, 201, 233, 0.801));
}

.post-author {
  text-align: end;
  color: white;
  background: rgba(0, 0, 0, 0.135);
}

.title-card-content {
  margin-top: 0px;
  margin-left: 1ch;
  margin-right: 1ch;
  margin-bottom: 1ch;
  font-size: 3vmin;
}

.post-date {
  margin-bottom: 4px;
}

.hide {
  display: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  z-index: 0;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: scale(1.02);
}

@media only screen and (max-width: 600px) {
  .post-title {
    font-weight: 700;
    font-size: small;
  }

  .animated-grid {
    height: 100%;
    width: 100%;

    display: grid;
    gap: 0.01rem;
    justify-items: center;
    align-items: center;

    /*Explicit grid */
    grid-template-areas:
      "a  b"
      "c  d"
      "e  f"
      "g  h";

    grid-template-rows: repeat(4, 25%);
    grid-template-columns: repeat(2, 50%);

    --stagger-delay: 100ms;
  }

  .card {
    background: #353535;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
      rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 95%;
    width: 95%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 600px) {
  .post-title {
    font-weight: 700;
  }

  .animated-grid {
    margin-top: 1%;
    height: 100%;
    width: 100%;

    display: grid;
    gap: 1rem;

    /*Explicit grid */
    grid-template-areas:
      "a  b   c"
      "h  i   d"
      "g  f   e";

    grid-template-rows: repeat(3, 30%);
    grid-template-columns: repeat(3, 30%);

    --stagger-delay: 100ms;
  }

  .card {
    background: #353535;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
      rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

@keyframes animated-transition {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
    display: none !important;
  }
}

.card {
  background-color: rgb(36, 243, 147);
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
}

.card:nth-child(1) {
  grid-area: a;
  animation-delay: calc(1 * var(--stagger-delay));
}

.card:nth-child(2) {
  grid-area: b;
  animation-delay: calc(2 * var(--stagger-delay));
}

.card:nth-child(3) {
  grid-area: c;
  animation-delay: calc(3 * var(--stagger-delay));
}

.card:nth-child(4) {
  grid-area: d;
  animation-delay: calc(4 * var(--stagger-delay));
}

.card:nth-child(5) {
  grid-area: e;
  animation-delay: calc(5 * var(--stagger-delay));
}

.card:nth-child(6) {
  grid-area: f;
  animation-delay: calc(6 * var(--stagger-delay));
}

.card:nth-child(7) {
  grid-area: g;
  animation-delay: calc(7 * var(--stagger-delay));
}

.card:nth-child(8) {
  grid-area: h;
  animation-delay: calc(8 * var(--stagger-delay));
}

.card:nth-child(9) {
  grid-area: i;
  animation-delay: calc(9 * var(--stagger-delay));
}

.card:nth-child(10) {
  grid-area: j;
  animation-delay: calc(10 * var(--stagger-delay));
}

.card:nth-child(11) {
  grid-area: k;
  animation-delay: calc(11 * var(--stagger-delay));
}

.card:nth-child(12) {
  grid-area: l;
  animation-delay: calc(12 * var(--stagger-delay));
}
